body {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 2%;
    flex-direction: column;
    min-height: 100vh;
    height: 100vh;
}

div {
    min-height: 3vh;
    min-width: 3vh;
}

.row {
    display: flex;
    flex: 1;
    justify-content: center;
}

.cell {
    border: 1px solid black;
}

#button {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding: 30px;
}

#container {
    margin: 5% 0;
}

#game {
    width: 1000px;
}

button {
    background-color: #770088;
    color: white;
    border: 1px solid white;
    padding: 10px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 20px;
}